#error .error_block {
    display: flex;
    align-items: center;
    margin: 5% auto;
    flex-direction: column;
}

#error .error_block img {
    width: 13%;
    border-radius: 20%;
}

#error .error_block p {
    font-family: 'Roboto';
    font-size: 19px;
}

#error .error_block a {
    background: none;
    color: rgb(65, 192, 76);
    font-family: 'Roboto';
    outline: none;
    border: 1px solid rgb(65, 192, 76);
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

#error .error_block a:hover {
    border: 1px solid rgb(45, 161, 55);
    color: rgb(45, 161, 55);
}